resources/**
!resources/genome/
resources/genome/**
!resources/genome/url
!resources/trial/
!resources/trial/**
!severus_vntrs/
!severus_vntrs/**

results/**
!results/log/
results/log/**
!results/log/.gitkeep

.snakemake