resources/**
!resources/genome/
resources/genome/**
!resources/genome/url
!resources/trial/
!resources/trial/**
!severus_vntrs/
!severus_vntrs/**
!resources/normal/
!resources/normal/**
!resources/v1/
!resources/v1/**
!resources/fig/
!resources/fig/**

results/**
!results/log/
results/log/**
!results/log/.gitkeep

.snakemake