# genome_file: "GRCh38_ref.fa"
genome_file: "chm13v2.0_maskedY_rCRS.fa"

stage_list: ["v1"]

coverage: "40"

length: "15000"

replicates: ["A", "B", "C"]

callers: ["sniffles", "severus", "svision", "savana"]

params:       
    read_type: nanopore
    # vntrs: /storage/scratch01/groups/bu/simSVs/visor-simulations/resources/severus_vntrs/human_GRCh38_no_alt_analysis_set.trf.bed
    vntrs: /storage/scratch01/groups/bu/simSVs/tfe_unir/visor-simulations/resources/severus_vntrs/human_chm13v2.0_maskedY_rCRS.trf.bed

resources:
    default:
        threads: 1
        mem_mb: 4000
        runtime: 1
        partition: short
    visor_hack:
        threads: 24
        mem_mb: 16000
        runtime: 5   
        partition: short
    generate_bed:
        threads: 1
        mem_mb: 1000
        runtime: 1
        partition: short
    visor_laser:
        threads: 52
        mem_mb: 364000
        runtime: 10000  
        partition: long
    sniffles:
        threads: 24
        mem_mb: 40000
        runtime: 120  
        partition: short
    severus:
        threads: 24
        mem_mb: 40000
        runtime: 120  
        partition: short
    svision:
        threads: 52
        mem_mb: 40000
        runtime: 480  
        partition: gpu
        slurm_extra: "--gres=gpu:A100:1"
        model: /home/fvillena/SVision-pro/src/pre_process/model_liteunet_1024_8_16_32_32_32.pth
    savana:
        threads: 24
        mem_mb: 40000
        runtime: 1400  
        partition: main